/* SummaryReport.css */

.summary-report-container {
  width: 90%; 
  overflow: hidden;
  height: 100%;
}

.summary-report-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: crimson;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 100px;
}

.select-author-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}

.select-author-label {
  font-weight: bold;
  margin-right: 10px;
  font-size: large;
  margin-top: 5px;
  
}

.select-author-dropdown {
  padding: 8px 12px; 
  font-size: 16px;
  border-radius: 30px;
 
}

.summary-table {
  margin-top: 50px;
  width: 100%;
  height: 400px; 
  border-collapse: collapse;
  margin-left: 20px;
}

.summary-table th,
.summary-table td {
  border: 1px solid #ddd;
  padding: 10px; 
  text-align: left;
}

.summary-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.summary-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.summary-table tr:hover {
  background-color: #ddd;
}
